@import "../../global.scss";

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $vapor-pink;

    h1 {
        font-size: 80px;
        margin-top: 50px;
        color: $main-color;

        @include mobile {
            margin-top: 15px;
            font-size: 40px;
        }
    }

    ul {
        display: flex;
        margin: 25px;
        padding: 0px;
        list-style: none;

        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

    .arrow {
        padding-top: 80px;
        height: 60px;

        &.bottom {
            height: 100px;
            bottom: 50px;

            width: 100px;
            animation: arrowBlink 1.25s infinite;
            color: $main-color;

            @include mobile {
                width: 60px;
                height: 60px;
                padding-top: 60px;
            }

            @keyframes arrowBlink {
                60% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0;
                }
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 70%;

        @include mobile {
            width: 100%;
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-wrap: wrap;
            width: 300px;
            height: 300px;
            margin: 80px 20px 30px 20px;
            box-shadow: 0px 0px 20px -8px $main-color;
            border: 6px solid $main-color;
            transition: all 1s ease;
            cursor: pointer;

            @include mobile {
                flex-wrap: wrap;
                width: 130px;
                height: 120px;
            }

            h3 {
                position: absolute;
                font-size: 25px;
            }

            a {
                color: $vapor-pink-vibrant;
                font-weight: 800;
                text-decoration: none;
                z-index: 0;
                opacity: 0;
            }

            &:hover {
                background-color: $main-color;
                img {
                    opacity: .25;
                    z-index: 0;
                }

                a {
                    opacity: 1;
                    z-index: 1;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}