@import "../../global.scss";

.contact {
    display: flex;
    background-color: $main-color;

    @include mobile {
        flex-direction: column;
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;

        @include mobile {
            flex: .4;
        }

        img {
            width: 50%;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 100%;

            h2 {
                font-size: 80px;
                color: $vapor-teal-vibrant;
                margin-bottom: 20px;

                @include mobile {
                    font-size: 40px;
                }
            }

            input {
                width: 400px;
                height: 50px;
                font-size: 20px;
                padding: 5px;

                @include mobile {
                    width: 300px;
                }
            }

            textarea {
                width: 400px;
                height: 200px;
                font-size: 20px;
                padding: 5px;
                border: 2px solid $main-color;

                @include mobile {
                    width: 300px;
                }
            }

            button {
                width: 410px;
                height: 75px;
                font-size: 30px;
                font-weight: 600;
                cursor: pointer;
                color: $main-color;
                background-color: $vapor-teal-vibrant;
                border: none;
                border-radius: 0px 0px 20px 20px;
                transition: all 1s ease;

                @include mobile {
                    width: 310px;
                }

                &:hover {
                    background-color: $vapor-pink-vibrant;
                }

                &:focus {
                    outline: none;
                }
            }

            span {
                margin-top: 15px;
                font-size: 16px;
                font-weight: 600;
                color: $vapor-green-vibrant;
            }
        }
    }
}