@import "../../global.scss";

.intro {
    display: flex;
    background-color: whitesmoke;

    @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        display: flex;
        align-items: center;
        flex: 0.4;

        @include mobile {
            height: 400px;
            width: 100%;
        }

        .imageContainer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: right;
            width: 100%;
            height: 700px;
            padding-top: 60px;
            background-color: $main-color;
            border-radius: 0px 50px 50px 0px;

            @include mobile {
                align-items: center;
                float: none;
                height: 300px;
                background-color: whitesmoke;
            }

            img {
                height: 100%;

                @include mobile {
                    height: 80%;
                }
            }
        }
    }

    .right {
        position: relative;
        flex: 0.6;


        @include mobile {
            width: 90%;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding-left: 280px;

            @include mobile {
                padding-left: 0px;
                padding-bottom: 40px;
                justify-content: flex-start;
            }

            h1 {
                color: $main-color;
                font-size: 110px;
                margin: 10px 0px;

                @include mobile {
                    font-size: 40px;
                }
            }

            h2 {
                font-size: 70px;

                @include mobile {
                    padding-top: 50px;
                    font-size: 30px;
                }
            }

            h3 {
                font-size: 45px;

                @include mobile {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: $vapor-pink;
                }

                .ityped-cursor {
                    animation: blink 1.25s infinite;
                }
                @keyframes blink {
                    60% {
                        opacity: 1;
                    }
                    
                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        a {
            position: absolute;
            bottom: 50px;
            left: 40%;

            img {
                width: 100px;
                animation: arrowBlink 1.5s infinite;
                color: $main-color;

                @keyframes arrowBlink {
                    100% {
                        opacity: 0;
                    }
                }

                @include mobile {
                    width: 60px;
                }
            }
        }
    }
}