@import "../../global.scss";

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $vapor-blue;

    h1 {
        font-size: 80px;
        margin-top: 50px;
        color: $vapor-pink-vibrant;
    }

    .arrow {
        height: 60px;
        position: flex;

        &.bottom {
            height: 100px;
            width: 100px;
            padding: 50px;
            animation: arrowBlink 1.25s infinite;
            color: $main-color;

            @keyframes arrowBlink {
                60% {
                    opacity: 1;
                }
                
                100% {
                    opacity: 0;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 250px;
            height: 50%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 25px -8px black;
            transition: all 1s ease;

            &.featured {
                width: 300px;
                height: 52%;
                margin: 0px 30px;
            }

            &:hover {
                transform: scale(1.1);
            }

            .top {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    &.left, &.right {
                        height: 25px;
                    }

                    &.user {
                        height: 60px;
                        width: 60px;
                        background-color: $vapor-pink-vibrant;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0px 30px;
                    }
                }
            }

            .center {
                padding: 10px;
                background-color: $vapor-pink;
                border-radius: 10px;
            }

            .bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 25px;
                }

                h4 {
                    font-size: 15px;
                }
            }
        }
    }
}