$main-color: #2D2548;
$main-accent: #493d5a;
$accent-color-light: #6a5275;
$accent-color-contrast: #843831;
$accent-color-contrast-light: #b85A239f; 

// Vapor-Wave Color Palette Muted
$vapor-pink: #D6224FB4;
$vapor-orange: #f0443B8f;
$vapor-blue: #4b7eff9f;
$vapor-purple: #9500ff80;

// Vapor-Wave Color Palette Vibrant
$vapor-pink-vibrant: #d6224f;