$main-color: #2D2548;
$accent-color-light: #9476A2;
$accent-color-contrast: #843831;
$accent-color-contrast-light: #b85a239f; 
$top-bar-color: #6A5983;
$vapor-pink: #d6224fb4;
$vapor-orange: #f0443b8f;